@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin: 0;
    background-color: #020a18;
    font-family: 'Noto sans', sans-serif;
}
.main_login{
    width: 100vw;
    height: 100vh;
    background-color: #020a18;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;

}
.cadastro{
    width: 50vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.cadastro > h1{
    font-size: 3vw;
    color: whitesmoke;
} 
img{
    width: 35vw;
}
.image{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.card{
    width: 60%; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    background-color:#0c182c ;
    border-radius: 25px;
    box-shadow: 0px 10px 40px #000003;
}

.card > h1{
    color: whitesmoke;
    font-weight: 800;
    margin: 0;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text >input::placeholder{
    color: rgb(112, 112, 112); 
} 

.text > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color:#192436 ;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #000003;
    outline: none;
    box-sizing: border-box;
    margin: 10px 0px;
}

.text > label{
    color: whitesmoke;
    margin-bottom: 10px;
}
.logins{
    display: flex;
    flex-direction: row;
}

.btnlogin_google {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform:uppercase ;
    font-weight: 800;
    letter-spacing: 3;
    cursor: pointer;
    background: #a14d4d;
    color: whitesmoke;
    box-shadow: 0px 10px 40px  #000003;
}
.btn_login_facebook{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform:uppercase ;
    font-weight: 800;
    letter-spacing: 3;
    cursor: pointer;
    box-shadow: 0px 10px 40px #000003;
    background: #3d4697;
    color: whitesmoke;
}
.btn_login_discord{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform:uppercase ;
    font-weight: 800;
    letter-spacing: 3;
    cursor: pointer;
    background: #664e7c;
    box-shadow: 0px 10px 40px #000003;
    color: whitesmoke;
}

.btn_login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform:uppercase ;
    font-weight: 800;
    letter-spacing: 3;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #000003;
}

